<main class="flex flex-col gap-5 p-8 h-full justify-center max-w-sm mx-auto">
    <div routerLink="/auth/forgot-password"
        class=" cursor-pointer border border-gray-300  p-2 w-fit hover:bg-gray-100 ">
        <lucide-icon name="move-left"></lucide-icon>
    </div>
    <div class="flex flex-col gap-5">
        <h1 class="text-3xl font-bold text-gray-900"> {{ sentOtpData().title }}</h1>
        <p class="text-sm text-gray-500 mt-1">We have sent a password reset link to:

            <span class=" text-site-primary">user@example.com</span>
        </p>
        @for(item of sentOtpData().desLast; track item){
        <p class="text-sm text-gray-500 mt-1">{{item}}</p>
        }
    </div>
    <p class="text-sm text-start text-gray-500">
        Don't have an account?
        <a routerLink="/auth/register" class="text-blue-600 hover:underline cursor-pointer">Create yours</a>
    </p>

    <form>

    </form>
</main>