<form (submit)="onSubmit($event)" class="flex flex-col gap-5 p-8 h-full justify-center max-w-sm mx-auto">
    <div>
        <h1 class="text-2xl font-bold mb-2">{{newPassData().title}}</h1>
        <p class="text-sm text-gray-500 mb-4">
            {{newPassData().description}}
        </p>
    </div>

    <app-form-field [config]="passwordConfig" [field]="newPasswordForm.password" />

    <app-form-field [config]="confirmPasswordConfig" [field]="newPasswordForm.confirmPassword" />

    @if(!passwordMatch()) {
    <p class="text-sm text-red-500">
        Passwords do not match
    </p>
    }
    <site-btn [config]="{
      label: 'Reset Password',
      type: 'submit',
      loading: newPasswordForm().submitting(),
      disabled: newPasswordForm().submitting() || !passwordMatch(),
      styleClass: 'w-full bg-site-primary',
    }" (fireBtn)="!passwordMatch() && onSubmit($event)" />
    <p class="text-sm text-center text-gray-500">
        Don&apos;t have an account?
        <a routerLink="/auth/register" class="text-site-primary cursor-pointer">Create yours</a>
    </p>
</form>