<form (submit)="onSubmit($event)" class="flex flex-col gap-5 p-8 h-full justify-center max-w-sm mx-auto">
    <div>
        <h1 class="text-3xl font-bold text-gray-900">{{forgotData().title}}</h1>
        <p class="text-sm text-gray-500 mt-1">{{forgotData().description}}</p>
    </div>

    <app-form-field [config]="emailConfig" [field]="forgotPasswordForm.email" />

    <site-btn [routerLink]="'/auth/sent-otp'" [config]="{
      label: 'Next',
      type: 'submit',
      fullWidth: true,
      icon: 'times',
      iconPos: 'right',
      loading: forgotPasswordForm().submitting(),
      styleClass: 'w-full bg-site-primary',
    }" />

    <p class="text-sm text-center text-gray-500">
        Don't have an account?
        <a routerLink="/auth/register" class="text-blue-600 hover:underline">Create yours</a>
    </p>
</form>